


  <a class="text-white-50 box" id="one"(click)="abrirLink('https://www.facebook.com/chevalierbarberia/')"><img
      src="./assets/Facebook.png" class="responsive"></a>
  <a class="text-white-50 box" id="two" (click)="abrirLink('https://www.instagram.com/chevalier_barber/?hl=es')"><img
      src="./assets/Instagram.png" class="responsive"></a>

  <a class="text-white-50 box " id="tre" (click)="
            abrirLink(
              'https://www.tiktok.com/@chevalierbarber'
            )
          "><img src="./assets/TikTok.png" class="responsive" ></a>
